# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# OS
.DS_Store

# Logs
*.log

# Docs & tests
README.md
*.md
tests/
.coverage
